.git
.gitignore
.env
.env.*
node_modules
vendor
public/build
storage/app
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/.gitignore
!public/.htaccess
*.log
.idea
.vscode
Dockerfile
render.yaml